* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial;
}

main {
	margin: 15px auto 30px;
	width: 550px;
	border: 2px solid lightgrey;
	border-radius: 3px;
	box-shadow: 8px 8px 5px lightgrey;
	padding: 25px;
	position: relative;
	background: #fafafa;
}

h1 {
	text-align: center;
	margin-bottom: 45px;
}

h2 {
	font-size: 13pt;
	margin-bottom: 5px;
}

h3 {
	font-size: 14pt;
	margin-bottom: 7px;
}

input[type="text"],
input[type="password"] {
	padding: 2px 5px;
	margin-right: 5px;
	font-size: 11pt;
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 3px 3px 3px lightgrey;
}

	input[type="text"]:hover,
	input[type="password"]:hover {
		border: 1px solid orange;
	}

	input[type="text"]:focus,
	input[type="password"]:focus {
		border: 1px solid green;
	}

button,
input[type="submit"] {
	border: 1px solid grey;
	border-radius: 3px;
	box-shadow: 3px 3px 3px lightgrey;
	cursor: pointer;
	font-size: 10pt;
	padding: 3px;
}

.corner-btn {
	position: absolute;
	display: block;
	right: 15px;
	top: 20px;
	width: 65px;
	color: black;
	border: 1px solid grey;
	border-radius: 3px;
	box-shadow: 3px 3px 3px lightgrey;
	background: #f2f2f2;
	cursor: pointer;
	font-size: 10pt;
	padding: 3px;
	text-align: center;
	text-decoration: none;
}

.error-input {
	background-color: #ffcccc;
	border-color: red;
	color: red;
}

.create {
	margin-bottom: 30px;
}

	.create button {
		width: 55px;
		background: #99ccff;
	}

	.create button:hover {
		background: #b3d9ff;
	}

.stat {
	position: relative;
	width: 100%;
	border: 2px solid lightgrey;
	border-radius: 5px;
	box-shadow: 5px 5px 5px lightgrey;
	padding: 10px 15px;
	box-sizing: border-box;
	margin-bottom: 15px;
	background-color: white;
}

	.stat:hover {
		background: #ffffe6;
	}

	.stat button.delete {
		position: absolute;
		width: 55px;
		background: #ff6666;
		top: 7px;
		right: 7px;	
	}

	.stat button.delete:hover {
		background: #ff3333;
	}

	.stat .level {
		font-size: 12pt;
		font-weight: bold;
	}

	.stat p {
		font-size: 11pt;
		margin-bottom: 2px;
	}

	.stat progress {
		width: 300px;
		height: 22px;
		margin-top: 5px;
		margin-right: 10px;
	}

	.stat div.progress {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}

		.stat div.progress button {
			background: #99e699;
			width: 70px;
		}

		.stat div.progress button:hover {
			background: #5bd75b;
		}

		.stat div.progress input {
			width: 50px;
			text-align: center;
			margin-right: 7px;
		}

table.login,
table.register {
	margin: 0px auto;
}

	table.login td,
	table.register td {
		padding: 3px 10px;
		width: 180px;
	}

	table.login th,
	table.register th {
		font-size: 11pt;
		padding-top: 6px;
		text-align: right;
		vertical-align: top;
	}

	table.login input[type="text"],
	table.login input[type="password"],
	table.register input[type="text"],
	table.register input[type="password"] {
		display: block;
		width: 100%;
	}

	table.login input[type="submit"],
	table.register button {
		margin-top: 10px;
		width: 70px;
		background-color: #85e085;
	}

	table.login .error,
	table.register .error {
		color: red;
		font-size: 9pt;
	}