* {
	margin: 0px;
	padding: 0px;
}

body {
	color: #4d4d4d;
	font-family: Arial;
}

h1 {
	margin: 20px 20px;
	font-size: 20pt;
}

h2 {
	margin-bottom: 15px;
}

.activity {
	margin: 20px 40px;
	padding: 15px;
	width: 400px;
	background: #b3d9ff;
}

.activity input[type="text"] {
	font-size: 11pt;
	padding: 3px 4px;
	width: 50px;
	border: 1px solid grey;
}

.activity-count {
	font-family: Courier New;
	font-weight: bold;
}

.activity table {
	text-align: left;
	font-size: 10pt;
}

.activity th {
	padding-right: 10px;
}

progress {
	height: 20px;
	width: 400px;
	margin: 10px 0px;
}

button {
	font-size: 10pt;
	padding: 4px 0px;
	width: 80px;
	background: #99ffcc;
	border: 1px solid grey;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {	
	border: 1px solid orange;
}
